:root {
  --app-background-color: whitesmoke;
  --primary-color: #7C3AED;
  --primary-light: #C4B5FD;
  --primary-dark: #4C1D95;
}

.App {
  text-align: center;
  background-color: var(--app-background-color);
  min-height: 100vh;
}