@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
}

a, .link {
  color: black;
  text-decoration: none;
}

.-flex-row {
  display: flex;
  flex-direction: row;
}

.-flex-col {
  display: flex;
  flex-direction: column;
}

.font {
  font-size: 2.2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: white;
}

.text-primary {
  color: var(--primary-dark);
}

.text-secondary {
  color: white;
}

.cp {
  cursor: pointer;
}