.home {
    margin: 5rem 0px;
}

.home-page-image {
    height: 500px;
    width: 500px;
    background-color: white;
    padding: 0px 3rem;
    border-radius: 2rem;
    object-fit: contain;
    box-shadow: rgb(152 152 158 / 20%) 0px 7px 29px 0px;
}

.home-section1 {
    justify-content: center;
    align-items: center;
}

.home-page-info {
    margin-left: 3rem;
    text-align: justify;
    width: 500px;
}