@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

.header {
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 2.5rem;
    margin-bottom: 1rem;
}
.header-brand {
    font-family: 'MonteCarlo', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav-links {
    margin: 0px 1rem;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    .header {
        flex-direction: column;
        padding: 0px;
    }

    .header-brand, .navigation-bar {
        margin: auto;
    }

    .w-full {
        width: 100%;
    }
}